<div class="container">
  <div class="header">
    <h2>Product List</h2>
    <button class="logout-button" (click)="logout()">Logout</button>
  </div>

  <div class="actions">
    <a class="action-link" href="/products/create">Create Product</a>
    <a class="action-link" href="/products/search">Search by category</a>
  </div>

  <div class="grid">
    @for(product of products; track product.id) {
      <div class="product-card">
        <div class="product-info">
          <p><strong>ID:</strong> {{ product.id }}</p>
          <p><strong>Name:</strong> {{ product.name }}</p>
          <p><strong>Description:</strong> {{ product.description }}</p>
          <p><strong>Category:</strong> {{ product.category }}</p>
          <p><strong>Price:</strong> {{ product.price }}</p>
        </div>
        <button class="delete-button" (click)="deleteProduct(product.id!)">Delete</button>
      </div>
    }
  </div>
</div>
